cffi==1.15.1
django-filter==2.4.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
djoser
gunicorn==20.0.4
html5lib==1.1
Pango==0.7.6
PyJWT==2.1.0
social-auth-app-django==4.0.0
social-auth-core==4.3.0
uritemplate==4.1.1
webencodings==0.5.1
drf-extra-fields==3.1.1
python-dotenv==0.20.0
django-colorfield==0.7.1
psycopg2-binary==2.8.6
pillow==8.3.2
